*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #13122C;
  --color-text: #ACC0D7;
  --color-header-border: #2C3251;
  --color-link-active: #0EE7B9;
  --color-blue: #74D8FD;
}

a {
  text-decoration: none;
}

a:hover, a:active, a:visited, a:hover {
  outline: none;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-size: 25px;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  transition: all .5s ease;
}

h1 {
  text-shadow: 2px 2px 0 #D9D9D9, 4px 4px 0 white;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2px 16px;
}

.card {
  padding: 20px 25px;
}

.card-colored {
  background: linear-gradient(250deg, rgba(105, 119, 180, .2) 3%, rgba(42, 51, 92, .2) 98%);
}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #0EE7B9;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.header {
  padding: 40px 0;
  border-bottom: 1px solid var(--color-header-border);
  position: relative;
}

.header__navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.navigation__link {
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--color-text);
  text-transform: uppercase;
  font-weight: 300;
  transition: all .3s ease-out;
}

.navigation__link:hover {
  color: var(--color-link-active);
}

.active {
  color: var(--color-link-active);
}

.hamburger {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.hamburger__line {
  background-color: var(--color-text);
  width: 30px;
  height: 2px;
  border-radius: 20px;
  position: absolute;
  top: 18px;
  left: 0;
  transition: all .3s ease-out;
}

.hamburger__line::after {
  position: absolute;
  content: '';
  top: -10px;
  left: 0;
  width: 40px;
  height: 2px;
  border-radius: 20px;
  background-color: var(--color-text);
  transition: all .3s ease-out;
}

.hamburger__line::before {
  position: absolute;
  content: '';
  top: 10px;
  left: 0;
  width: 40px;
  height: 2px;
  border-radius: 20px;
  background-color: var(--color-text);
  transition: all .3s ease-out;
}

.hamburger:hover .hamburger__line,
.hamburger:hover .hamburger__line::after,
.hamburger:hover .hamburger__line::before {
  background-color: var(--color-link-active);
}

.hamburger__line_active {
  width: 40px;
}

.home {
  padding-top: 30px;
}

.home__container {
  display: flex;
  column-gap: 90px;
}

.home__avatar {
  max-width: 400px;
  border-radius: 50%;
}

.home__title {
  font-weight: normal;
  font-size: 50px;
  line-height: 59px;
  color: var(--color-blue);
  width: 100%;
  margin-left: 53%;
}

.home__information {
  margin-top: 10px;
}

.home__text {
  display: block;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  padding-bottom: 20px;
}

.home__text_colored {
  color: var(--color-blue);
}

.home__text_positon {
  margin-bottom: 10px;
  padding-left: 30px;
  height: auto;
  max-width: 400px;
  border-radius: 50%;
}

.about {
  padding: 40px 0;
}

.about__text {
  text-align: justify;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #ACC0D7;
  margin-bottom: 10px;
  width: 570px;
}

.flex-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.skill-menu__item {
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-menu__item + .skill-menu__item {
  margin-top: 25px;
}

.skill-menu__item-text {
  display: block;
}

.progressbar {
  height: 10px;
  position: relative;
  background: rgb(43 44 90);
  width: 65%;
  display: block;
}

.progressbar > span {
  display: block;
  height: 100%;
  background-color: #74d7fa;
  position: relative;
  overflow: hidden;
}

.skills {
  margin-bottom: 30px;
}

.projects {
  margin-bottom: 30px;
}

.slider {
  font-family: Arial, sans-serif;
  width: 640px;
  margin: 100px auto 0;
}

.content {
  overflow: hidden;
  width: 640px;
  height: 480px;
  box-shadow: 0 0 50px 10px #c9c9c9;
}

#content-inner {
  width: 10000px;
  height: 480px;
}

.page {
  width: 640px;
  height: 480px;
  float: left;
}

#inner1:target #content-inner {
  transition: all .4s ease;
  margin-left: 0;
}

#inner2:target #content-inner {
  transition: all .4s ease;
  margin-left: -640px;
}

#inner3:target #content-inner {
  transition: all .4s ease;
  margin-left: -1280px;
}

.page img {
  width: 640px;
  height: 480px;
}

.page-info {
  height: 90px;
  background-color: rgba(99, 99, 99, .6);
  position: relative;
  margin-top: 0;
  bottom: 103px;
  color: #dedede;
  padding-left: 20px;
  padding-top: 10px;
}

.page-info h2 {
  font-size: 21px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #fafafa
}

.page-text {
  font-size: 15px;
}

.bullet {
  width: 156px;
  height: 16px;
  margin: 20px auto 0;
  padding: 0;
}

.button {
  float: left;
  background: #bababa;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.button:hover, .button:active {
  box-shadow: inset 0 0 2px 2px #d4d4d4;
}

.button a {
  display: block;
  width: 16px;
  height: 16px;
}

.code {
  margin-bottom: 30px;
}

.javascript {
  font-size: 20px;
  white-space: pre-wrap;
  word-break: break-all;
}

pre code[class]:after {
  content: 'Документ:' attr(class);
  display: block;
  text-align: right;
  font: 1em / 1.3em 'Lucida Console', 'courier new', monospace;
  color: #646463;
  padding-top: 0.5em;
  text-shadow: 0 1px 0 #000;
}

.hljs, .hljs-subst {
  color: #fff !important;
}

.hljs {
  background: #232445 !important;
}

.hljs-title, .hljs-section {
  color: #69e8ba !important;
}

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
  color: #69e8ba !important;
}


.education {
  margin-bottom: 30px;
}

.education__container {
  display: flex;
  justify-content: space-between;
}

.education__container {
  width: calc(100% / 3 - 20px);
}

.language {
  margin-bottom: 30px;
}

.contacts {
  margin-bottom: 30px;
}

.contacts__list {
  margin-top: 20px;
}

.footer {
  padding: 40px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__img, .footer__img-rs {
  object-fit: cover;
  cursor: pointer;
}

.footer__img {
  width: 40px;
  height: 40px;
}

.footer__img-rs {
  width: 120px;
  height: 45px;
}

@media (max-width: 1500px) {
  .hamburger {
    display: block;
  }

  .navigation_hamburger {
    position: fixed;
    background-color: var(--color-bg);
    right: -100%;
    top: 0;
    flex-direction: column;
    align-items: flex-end;

    height: 100vh;
    width: 320px;
    padding-top: 70px;
    padding-right: 40px;
    transition: all .6s ease-out;
  }

  .navigation_hamburger-active {
    right: 0;
  }

  .navigation_hamburger li + li {
    margin-top: 30px;
  }

  .flex-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
  }

  .about {
    margin: 100px auto 0;
  }

  h1 {
    text-shadow: 2px 2px 0 #D9D9D9, 4px 4px 0 white;
    font-size: 16px;
  }

  .skill-menu__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .progressbar {
    width: 40%;
  }

  .home__avatar {
    max-width: 60%;
    height: auto;
    object-fit: cover;
  }

  .about__text {
    max-width: 400px;
    flex-wrap: wrap;
    margin-right: 20px;
  }
}

@media (max-width: 580px) {
  .about {
    margin-top: 100px;
  }

  h1 {
    text-shadow: 2px 2px 0 #D9D9D9, 4px 4px 0 white;
    font-size: 10px;
  }

  .progressbar {
    width: 25%;
  }

  .skills {
    margin-top: -20px;
  }

  .about__text {
    max-width: 230px;
    flex-wrap: wrap;
    margin-right: 20px;
  }

  .about__video {
    width: 100%;
  }
}
